@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
*{
    font-family: 'Rubik';
}
.homePage{
    display: flex;
}
.homePage > *{
    width: 50%;
    margin:2%;
    padding: 5%;
}


.right img{
    width: 80%;
}

.left h1{
    color:#18216d;
}
.left h3{
    color:#18216d;
}

.button{
    width:20%;
    padding: 2%;
    margin: 2%;
    font-size: larger;
    border-radius: 5px;
    box-shadow: rgb(23 31 114 / 20%) 0px 16px 30px;
}
.buy{
    background-color:#2e186a;
    color:white;
    border: 1px solid #2e186a;  
}
.sell{
    background-color:white;
    color:#2e186a;
    border: 1px solid white;
}
.button:hover{
    cursor:pointer;
    background-color: rgb(236, 89, 36);
}
.buy:hover{
    border:1px solid rgb(236,89,36);
}
.sell:hover{
    color:white;  
    border:1px solid rgb(236,89,36); 
}

@media only screen and (max-width: 800px) {
    .right{
        width: 0px;
    }
}